.App {
  text-align: center;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.App-logo {
  animation: bounceIn 2s infinite;
  height: 100px;
}

.App-header {
  background-color: rgb(21, 176, 223);
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-top: 50px;
}

.App-intro {
  font-size: large;
}
