.App {
  text-align: center;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.App-logo {
  animation: bounceIn 2s infinite;
  height: 100px;
}

.App-header {
  background-color: rgb(21, 176, 223);
  height: 200px;
  padding: 15px;
  color: white;
}

.App-body {
  background-color: azure;
}

.App-title {
  font-size: 1.5em;
  margin-top: 50px;
}

.App-intro {
  font-size: large;
}

.List-title {
  display: inline-block;
  width: 35%;
  background-color: rgb(138, 241, 219);
  position: relative;
  right: -14px;
  top: 30px;
  border-radius: 35%;
  border: 1px solid blueviolet;
  padding: 10px;
  font-weight: bold;
}

.List-position {
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 40px;
  margin-top: 20px;
}

.Button-padding {
  margin: 20px;
}

.Get-buttons {
  margin: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.List-spacing {
  padding-bottom: 15px;
}

.Media-description {
  padding-top: 75px;
  padding-left: 15px;
}

.Overview {
  padding: 30px;
  text-align: left;
}

.Selection-button {
  padding: 5px;
  margin: 15px;
  width: 20%
}

.Media-image {
  margin-bottom: 20px;
}

.search-title {
  margin: 7px;
}

.Randomizer-button {
  position: relative;
  margin: 20px;
  margin-top: 30px;
}

.Random-media {
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.15em;
}

ul {
  list-style-type: none;
}